.bg-pastel1 { background-color: #FFD1DC; }
.bg-pastel2 { background-color: #FFDACD; }
.bg-pastel3 { background-color: #FFEEBA; }
.bg-pastel4 { background-color: #DFFFD6; }
.bg-pastel5 { background-color: #D0F4DE; }
.bg-pastel6 { background-color: #D5EEFF; }
.bg-pastel7 { background-color: #E0BBE4; }
.bg-pastel8 { background-color: #E2F0CB; }
.bg-pastel9 { background-color: #FFC8A2; }
.bg-pastel10 { background-color: #FFABAB; }
.bg-pastel11 { background-color: #FFD3A5; }
.bg-pastel12 { background-color: #FFBDBD; }
.bg-pastel13 { background-color: #FFC3A0; }
.bg-pastel14 { background-color: #FF677D; }
.bg-pastel15 { background-color: #D4A5A5; }
.bg-pastel16 { background-color: #EEE7A5; }
