<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <title>Рекомендательная система компьютерных игр</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="container mt-5">
    <form th:action="@{/submit}" th:object="${searchCriteria}" method="post">
        <h2 class="mb-4">Рекомендательная система компьютерных игр</h2>

        <!-- Платформа -->
        <div class="form-group row">
            <label for="platform-input" class="col-sm-2 col-form-label">Платформа</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" id="platform-input" th:field="*{platform}" class="form-control" placeholder="Поиск" aria-describedby="button-addon2" data-toggle="dropdown">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button-addon2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выберите</button>
                        <div class="dropdown-menu" id="platform-dropdown" aria-labelledby="button-addon2">
                            <!-- Варианты ответа из списка -->
                            <th:block th:each="option : ${platforms}">
                                <a class="dropdown-item" th:text="${option}" th:href="'#' + ${option}"></a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Жанр -->
        <div class="form-group row">
            <label for="genre-input" class="col-sm-2 col-form-label">Жанр</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" id="genre-input" th:field="*{genre}" class="form-control" placeholder="Поиск" aria-describedby="button-addon3" data-toggle="dropdown">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button-addon3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выберите</button>
                        <div class="dropdown-menu" id="genre-dropdown" aria-labelledby="button-addon3">
                            <!-- Варианты ответа из списка жанров -->
                            <th:block th:each="option : ${genres}">
                                <a class="dropdown-item" th:text="${option}" th:href="'#' + ${option}"></a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Издатель -->
        <div class="form-group row">
            <label for="publisher-input" class="col-sm-2 col-form-label">Издатель</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" id="publisher-input" th:field="*{publisher}" class="form-control" placeholder="Поиск" aria-describedby="button-addon4" data-toggle="dropdown">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button-addon4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выберите</button>
                        <div class="dropdown-menu" id="publisher-dropdown" aria-labelledby="button-addon4">
                            <!-- Варианты ответа из списка издателей -->
                            <th:block th:each="option : ${publishers}">
                                <a class="dropdown-item" th:text="${option}" th:href="'#' + ${option}"></a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Возрастной рейтинг -->
        <div class="form-group row">
            <label for="rating-input" class="col-sm-2 col-form-label">Возрастной рейтинг</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" id="rating-input" th:field="*{rating}" class="form-control" placeholder="Поиск" aria-describedby="button-addon5" data-toggle="dropdown">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button-addon5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выберите</button>
                        <div class="dropdown-menu" id="rating-dropdown" aria-labelledby="button-addon5">
                            <!-- Варианты ответа из списка возрастных рейтингов -->
                            <th:block th:each="option : ${ratings}">
                                <a class="dropdown-item" th:text="${option}" th:href="'#' + ${option}"></a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Дата выпуска -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Дата выпуска</label>
            <div class="col-sm-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Начало</span>
                    </div>
                    <input type="date" id="release-start-date" th:field="*{releaseStartDate}" class="form-control" aria-label="Начало">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Конец</span>
                    </div>
                    <input type="date" id="release-end-date" th:field="*{releaseEndDate}" class="form-control" aria-label="Конец">
                </div>
            </div>
        </div>

        <!-- Минимальная граница оценки -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Минимальная граница оценки</label>
            <div class="col-sm-10">
                <input type="number" th:field="*{minScore}" class="form-control" min="1" max="100" placeholder="Введите число от 1 до 100">
            </div>
        </div>

        <!-- Блоки CustomBlock -->
        <div class="row">
            <th:block th:each="block, iterStat : ${customBlocks}">
                <div class="col-md-3 mb-4">
                    <div class="card" th:classappend="${colors[iterStat.index % colors.length]}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${block.title}"></h5>
                            <input type="range" min="1" max="10" value="1" class="form-control-range mb-2" th:id="'customRange' + ${iterStat.index}" th:field="*{customValues[__${iterStat.index}__]}">
                            <input type="number" class="form-control" th:id="'customValueDisplay' + ${iterStat.index}" readonly>
                            <a href="#" data-toggle="collapse" th:data-target="'#customDescription' + ${iterStat.index}" class="d-block mt-2">Раскрыть</a>
                            <div th:id="'customDescription' + ${iterStat.index}" class="collapse mt-2">
                                <p th:text="${block.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>


        <!-- Кнопка отправки -->
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Результат</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        // Функция фильтрации элементов выпадающего списка
        function filterDropdown(inputId, dropdownId) {
            var input = $(inputId);
            var dropdown = $(dropdownId);
            var filter = input.val().toUpperCase();
            dropdown.find('.dropdown-item').each(function() {
                var item = $(this);
                if (item.text().toUpperCase().indexOf(filter) > -1) {
                    item.show();
                } else {
                    item.hide();
                }
            });
        }

        // Обработчик ввода для "Издатель"
        $("#publisher-input").on('input', function() {
            filterDropdown("#publisher-input", "#publisher-dropdown");
        });

        // Обработчик клика для элементов выпадающего списка "Издатель"
        $("#publisher-dropdown .dropdown-item").click(function() {
            $("#publisher-input").val($(this).text());
        });
    });
</script>

<script>
    $(document).ready(function() {
        // Для "Платформа"
        $("#platform-dropdown .dropdown-item").click(function() {
            $("#platform-input").val($(this).text());
        });

        // Для "Жанр"
        $("#genre-dropdown .dropdown-item").click(function() {
            $("#genre-input").val($(this).text());
        });

        $("#rating-dropdown .dropdown-item").click(function() {
            $("#rating-input").val($(this).text());
        });
    });
</script>

<script>
    $(document).ready(function() {
        // Отображение значения каждого ползунка
        $("[id^=customRange]").on("input", function() {
            var index = $(this).attr('id').replace('customRange', '');
            $("#customValueDisplay" + index).val($(this).val());
        });
        // Инициализация начальных значений
        $("[id^=customRange]").each(function() {
            var index = $(this).attr('id').replace('customRange', '');
            $("#customValueDisplay" + index).val($(this).val());
        });
    });
</script>

</body>
</html>

